{% extends "base.html"%}
{% block title %}웹툰 리스트{% endblock %}

{% block content %}

<img src="{{ object.webtoon.webtoon_img_url }}" /><br>
{{ object.webtoon.webtoon_name }}<br>
{{ object.webtoon.webtoon_author }}<br>
조회수 : {{ object.webtoon.webtoon_views }}<br>

<form action="/comment/{{ object.webtoon.webtoon_id }}"method="post">
    {% csrf_token %}
    <input type="text" name="comment_text">
    <input type="submit" value="등록">

</form>

<table>
    <tbody>
        {% for comment in object.comment %}
            <tr>
                <td>
                    {{comment.comment_text}}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}